<div>
   <ul>
      <li><%=link_to "What is a fraternity?", "/what_is_fraternity", :class => (current_page?("/what_is_fraternity") ? "selected" : "")%></li>
      <li><%=link_to "How can I meet a member?", "/how_can_i_meet_a_member", :class => (current_page?("/how_can_i_meet_a_member") ? "selected" : "")%></li>
      <li><%=link_to "How can I join?", "/how_can_i_join", :class => (current_page?("/how_can_i_join") ? "selected" : "")%></li>
   </ul>
</div>