<%content_for :title, "Zeta Psi - Mu Theta"%>
<%content_for :sidebar, render(:partial => "about_sidebar") %>

<h1>The history of Zeta Psi and our Mu Theta Chapter</h1>

<div style="text-align:center; margin:15px">
   <img src='/images/ZetaPsiEscutcheon2.gif'  style="border:1px solid #aaa" />
</div>

<p>
   The Fraternity, founded in 1847 by three young men, was the 11th Greek Letter Fraternity in America. Its first chapter was at the University of New York and began with the visions of John Bradt Yates Sommers, William Henry Dayton, and John Moon Skillman. From our humble beginnings meeting in Sommers' parent's house we have grown strong to 50 active chapters with elders numbering in the thousands. These visions and ideals have lasted 159 years and have made Zeta Psi a pioneer in the Fraternity system. With many firsts to its name, Zeta Psi, in 1870, was the first fraternity to become national with the Iota chapter at the University of California of Berkeley. It was also the first fraternity to venture north to Canada where, in 1879, Theta Xi of the University of Toronto was founded. It would be another 12 years before any other fraternity was established in Canada. For more Information you can check out our Wikipedia page at <%=link_to "http://en.wikipedia.org/wiki/Zeta_Psi", "http://en.wikipedia.org/wiki/Zeta_Psi"%>
</p>

<p>
There have been many famous Zetes throughout the years, including:
   <ul>
    <li>* Lieutenant Colonel Dr. John Alexander MacCrae, Author of "Flanders Fields"</li>
    <li>* Henry Ford II, Chairman of Ford Motor Company</li>
    <li>* Dean Cain, Actor (Superman)</li>
    <li>* Lesley S. Aspin, Former Secretary of Defence for the USA</li>
    <li>* Jon K. Grant, Chairman of Quaker Oats Canada</li>
    <li>* Arden Haynes, Chairman and CEO of Imperial Oil</li>
    <li>* Peter B. Wilson, Former Governor of California</li>
    <li>* Admiral James J. Carey, United States Navy Reserves</li>
    <li>* Dr. Julius A. Stratton, President Emeritus of MIT</li>
    <li>* John R. Brodie, NFL Hall of Fame</li>
    <li>* Biran Dickson, Retired Chief Justice of the Supreme Court of Canada</li>
    <li>* and many more...</li>
   </ul>
</p>

<p>
   In the early days of The University of Alberta, fraternities and secret societies were banned from its campus. Dr. Tory would have none of these secret clubs meeting and forming opinions behind the faculty's backs. However in 1926 two students took it upon themselves to form a secret club and with the help of an Elder of the Theta Xi chapter, 15 of the best men on campus were selected to form the 'Corinthian Club.' Once the meaning of the name was discovered, it was declared inappropriate and 'Athenian' substituted. The next year, as fate would have it, Dr. Tory resigned and a Dr. Wallace, though himself not a fraternity man, had several warm friends among Zetes in his hometown of Winnipeg and agreed to abolish the ban. In 1930, 35 were inducted into the ranks of Zeta Psi, 29 being members of the Athenian Club, 4 were Elders, and 2 were professors.
</p>

<p>
   Elders of Mu Theta have many networking avenues here in Edmonton, as well as around the World. Some of our members are judges, police chiefs, lawyers, and businessmen. All of these successful men are willing to help a Brother no matter what the case may be. To have that kind of relationship is highly valued and often an asset, especially if you are new to the area and are seeking people to learn with, socialize with, and just hang out.
   If you would like more information about our chapter please do not hesitate to contact our President (Chris Proulx).
</p>