<h1>Mu Theta 80th Anniversary</h1>


<p>
	A black tie banquet celebrating the 80th anniversary of the Mu Theta Chapter of the Zeta Psi Fraternity of North America.
</p>

<p>
	We've been celebrating in Tau Kappa Phi from 1930 - 2010. Now it's time to honour this achievement in the same hall where we began so many years ago.	With the Honourable James Wheatley as Master of Ceremony, and a variety of speakers and presentations, we will remember the amazing accomplishments of our chapter. This will be the event they talk about for the next 80 years.
</p>

<style type="text/css" media="screen">
	#details {margin:20px 0 20px 100px;}
	#details td {padding:3px 10px; font-weight:bold; font-size:12px;}
	#details .label {text-align:right; padding-right:10px;}
</style>

<table id="details">
	<tr>
		<td class="label">DATE</td>
		<td>Friday, October 22, 2010</td>
	</tr>
	
	<tr>
		<td class="label">TIME</td>
		<td>Cocktails at 6:00 p.m.</td>
	</tr>
	
	<tr>
		<td class="label">LOCATION</td>
		<td>Banquet Hall, Hotel MacDonald</td>
	</tr>
	
	<tr>
		<td class="label">Price</td>
		<td>100</td>
	</tr>
</table>

<p style="font-size:11px;">
	Note: Due to the limited seating, this is a stag event. We apologize to that we are not able to accommodate spouses at this time.
</p>
<br/>
<h2>Tickets</h2>
<p>
	Seating is limited so please RSVP by ________. There are two ways to purchase tickets:<br/><br/>
	1) <%= link_to "Purchase tickets online", "http://mutheta80th.eventbrite.com/", :style => "font-weight:bold; font-size:14px; color:#cc9944" %><br/>
	2) Send a cheque to Cameron Lewis at __________. 
</p>
<br/>
<hr/>

<p>Please contact Cameron Lewis at ________ if you have any questions</p>
 


