<%content_for :title, "Zeta Psi - Mu Theta"%>
<%content_for :sidebar, render(:partial => "about_sidebar") %>

<h1>How can I join?</h1>


<p>
Give us a shout! Drop us an email, call us or come to an event. We are always willing and ready to meet new people and to introduce them to what fraternities are all about. When you come out to meet some of the guys we’ll play some pool, meet on campus for lunch, or meet at the house for some foosball or Guitar Hero! If you like what you are experiencing we will give you more information about what steps are next to join our organization. 
</p>