<%content_for :title, "Zeta Psi - Mu Theta"%>
<%content_for :sidebar, render(:partial => "about_sidebar") %>

<h1>How can I meet a member?</h1>

<p>
It is easy to meet one of the members of Zeta Psi. All the members e-mails can be found on out profile page. We love getting emails form people interested in our organization. You can also show up to one of our many events. This will give you a chance to get to know the some of the guys, and see first hand what we are all about. Either way we love meeting new people. 
</p>