<%content_for :title, "Zeta Psi - Mu Theta"%>
<%content_for :sidebar, render(:partial => "events/sidebar_calenders")%>

<img src="/images/all_the_guys.jpg" style="position:relative; left:-5px" />


<h2>Welcome to the Zeta Psi Fraternity at the University of Alberta</h2>
<p>
	Zeta Psi has a long and illustrious history at the University of Alberta as a fraternity that seeks to enrich the lives of its members beyond the traditional scope of university education. Zeta Psi has a long-standing commitment to build a brotherhood of men that strive for academic excellence, while seeking to build leadership and moral fiber in service of their communities. We seek to achieve these goals while remembering that university life represents something that should be enjoyed and celebrated.
<br/><br/>
	In short, we aim to “…turn out into the world self-respecting, original-thinking, self-controlled, purposeful gentlemen”.
</p>
<!--
<br/>
<h3 style="font-weight:bold">NEWS</h3>
<p>
	Our 80th anniversary banquet is coming up in October, and we are all very excited. <%= link_to "Find out more...", "/80th" %>
</p> 
-->
