<%content_for :title, "Zeta Psi - Mu Theta"%>
<%content_for :sidebar, render(:partial => "events/sidebar_calenders")%>

<img src="/images/all_the_guys.jpg" width=590 />

<p>
   Zeta Psi is a fraternity with a long and illustrious history at the University of Alberta. We focus on young men 
   who desire to excel in life and to find salvation from the drudgery of university. We believe in creating a brotherhood 
   that can create a positive impact in our community. While other chapters may compare for some feats, only Zeta Psi 
   can claim to exceed the others in providing internships, scholarships, and real life opportunities for being 
   successful. We do all this while never forgetting that University is the greatest time of your life and should be 
   celebrated as such.
</p>