<%content_for :title, "Zeta Psi - Mu Theta"%>
<%content_for :sidebar, render(:partial => "about_sidebar") %>

<h1>What is Fraternity?</h1>

<p>
Fraternities began in the late 18th century as Greek letter societies. Much of the secrecy was due, in part, to universities banning these societies from operating on campus. Each fraternity has a particular style and set of traditions that govern their initiations, songs, secrets, and membership. Zeta Psi was founded in 1847 and was the first fraternity in Canada in 1879. We were also the first fraternity on this campus back in 1930 and have a rich history in both Canada and the United States.
</p>

<p>
A fraternity is a life long brotherhood. It is a network of friends, colleagues, employers, and leaders. It’s also a lot of fun. A fraternity is a social club, a study group, a group of friends with similar interests. The Fraternity is more than a casual friendship through college; it is a deep companionship that its member’s experience and will remain in for the rest of their lives. Here at the University of Alberta we are no different. While pursuing our goals of education we have realized the value and advantage of fraternal brotherhood.
</p>

<p>
The fraternity will also help you become a better leader, more organized, give you people and social skills, and will also create a balance between work and play. It will help public speaking. It will put you into contact with many people whom you can trust and network with. We also provide scholarship and travel opportunities for active members. There are many more advantages to fraternal life, please give us a call to find out more!
</p>