body {background-image:url(/images/page_grad_750.JPG); background-repeat:repeat-y; background-color:#000;}

a {color:#444; text-decoration:underline;}
a:hover {color:#aaa;}

strong, .strong {font-weight:bold;}

.clearfix:after {content:"."; visibility:hidden; display:block; height:0px; clear:both;}

.navigation-bar {float:left;}
.navigation-bar li {padding: 5px 15px 5px 10px;}
.navigation-bar li a,
.navigation-bar li a:visited {color:#EA9755; font-size:18px; text-decoration:none;}
.navigation-bar li a:hover {text-decoration:underline;}
.navigation-bar li a.selected {color:#FFC000;}

.content {float:left; width:600px; color:#9B5D20;}
.content h1 {font-size:13pt; color:#666; text-align:center; margin:20px;}
.content p { line-height:20px; margin:10px 0;}

.sidebar {position:absolute; left:740px; top:0px; padding:20px; color:#EA9755;}
.sidebar .badge {margin:20px 10px;}
.sidebar h3 {color:#aaa; font-size:14px;}
.sidebar li {line-height:35px; font-size:15px;}
.sidebar li a {color:#EA9755; text-decoration:none;}
.sidebar li a.selected, .sidebar li a:hover {text-decoration:underline;}

div.success-notice {padding:5px 10px; border:1px solid; font-size:14px; border-color: green; color:#008f14; background-color:#bfdbc3;}
div.error-notice {padding:5px 10px; border:1px solid; font-size:14px; border-color: #af0000; color:#af0000; background-color:#ffcccc;}


form {float:left;}
form .row {clear:both; margin:2px;}
form label {padding:0 5px; display:table;}
form input[type=submit] {float:right;}


.member {padding:5px; border-bottom:1px solid #aaa; font-size:14px; line-height:25px;}
.member:after {content:"."; display:block; visibility:hidden; height:0px; clear:both;}
.member img {float:left; margin:0 10px; border:1px solid #888; width:60px;} 


.sidebar .calender {color:#EA9755; text-align:center; line-height:25px; margin:20px 0px;}
.sidebar .calender a {color:#EA9755; display:block; padding:1px;}
.sidebar .calender td {text-align:center; padding:2px; }
.sidebar .calender td.active a {color:yellow;}
.sidebar .calender td.today a {  border:1px solid #EA9755;}
.sidebar .calender h2 {font-size:16px;}


.content .event { color:#666; margin:15px 0px;} 
.content .event h3 {text-decoration:underline; font-weight:bold; float:left; margin-right:5px;}
.content .event p { color:#666; margin-top:0px;}
.content .event .details {font-size:12px;}

h2.month {display:table; padding:2px 5px; line-height:18px; color:#fff; background-color:#EA9755; -moz-border-radius: 3px; -webkit-border-radius: 3px;}

.album {padding:5px 5px 3px 5px; border:1px solid #888; text-align:center; float:left; margin:10px; position:relative; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.album span {display:block;}
.album div {position:absolute; top:0px; left:0px; width:100%; }
.album div a {top:5px; left:0px; position:absolute; background-color:#fff; padding:3px;}

.photo {position:relative; float:left; width:150px; text-align:center; margin:10px 10px 10px 0; padding:2px; border:1px solid #aaa; cursor:move; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.photo img {max-width:150px; max-height:150px;}

.album div a.delete, .photo .delete {background-color:#fff; position:absolute; right:5px; top:5px; color:red; width:auto; left:auto;}

#current_photos li {float:left;}

.large_photo {padding:2px; border:1px solid #aaa; margin:5px 0; float:left;}
.large_photo img {max-width:100%;}

ol {list-style:decimal; padding-left:20px; margin:3px;}

.wiki_page h2, .edit_wiki_page h2 {font-weight:bold; color:#666;}
.wiki_page ul, .edit_wiki_page ul {padding:5px 20px;}