<%content_for :title, "Zeta Psi - Mu Theta"%>
<%content_for :sidebar, render(:partial => "events/sidebar_calenders") %>

<h1>Events<%if @selected_date%> for <%=@selected_date.strftime("%A, %b %d %Y")%> <%end%></h1>

<%if @current_member%>
   <%=link_to "Create new Event",  new_event_path, :style => "float :right"%>
   <br/>
<%end%>

<%for events_for_a_month in @events_by_month%>
   <br/>
   <h2 class="month"><%=events_for_a_month[1].first.when.strftime("%B")%></h2>
   <%for event in events_for_a_month[1].sort_by(&:when)%>
      <%=render :partial => "event", :locals => {:event => event}%>
   <%end%>
<%end%>

<%if @events.empty?%>
   <h3>No upcoming events.... must be summer ;-)</h3>
<%end%>