<%content_for :sidebar, render(:partial => "show_sidebar")%>

<%if @wiki_page!=WikiPage.first%>
  <%= link_to "Back to Index", WikiPage.first %>
<%end%>

<div class="wiki_page">
   <h1><%=@wiki_page.name%></h1>

   <div class="content">
      <%=RedCloth.new(@wiki_page.linked_content).to_html%>
   </div>
</div>