<%content_for :sidebar, render(:partial => "events/sidebar_calenders") %>

<h1>The Members of Zeta Psi - Mu Theta</h1>

<%if @current_member and @current_member.is_phi%>
   <%= link_to 'New members', new_member_path, :style => "float:right" %><br style='clear:both'/>
<%end%>


<% for member in @members %>
   <%=render :partial => "member", :locals => {:member => member}%>
<% end %>
