<%= link_to '< Back to member list', members_path %><br/><br/>

<h1>New member</h1>

<% form_for(@member) do |f| %>
  <%= f.error_messages %>

  <p>
   <%=render :partial => "member_form", :locals => {:f => f}%>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>


